@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0 auto;
}

.hero {
    height: 100vh;
    display: flex;
}

.title-div {
    background-color: #69b8e5;
    margin-left: 0;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Ranchers', serif;
    font-size: 40px;
    color: black;
    width: 300px;

}
.sketch-board {
    display: grid;
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px);
    padding: 0;
    gap: 0;
    align-content: center;
    justify-content: center;
}

.boardSquare {
    box-sizing: border-box;
    border: 0.1px solid black;
    width: 30px;
    height: 30px;
}

.game-menu {
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    border:10px solid #69b8e5;
    background-color: #d1ebd3;
    margin-right: 0;
}

.game-menu button {
    background-color: #fdcfcf;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Average Sans', serif;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border-color: #fc8b8b;
    border-width: 5px;
    border-style: solid;
    margin: 5px auto;
}

.colors-menu h1 {
    font-size: 40px;
    font-family: 'Average Sans', serif;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 5px;

}

.colors {
    display: grid;
    grid-template-columns: repeat(5, 40px);
    grid-template-rows: repeat(5, 40px);
    border: red;
    margin-bottom: 60px;
}

.color {
    height: 40px;
    width: 40px;
}